/** Add css rules here for your application. */
html {
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.text1 {
	  font-size: 1.4em;
	  font-weight: bold;
	  color: #555;
	  padding:20px;
	  text-align: center;
}

.hurma-header {
	height: 70px;
	width: 100%;
	background-color: #f6f6f6;
	border-bottom: 1px solid #ccc;
}

.footer {
	position:absolute;
	bottom: 0px;
	height: 50px;
	width: 100%;
	background-color: #f6f6f6;
	border-top: 1px solid #ccc;
}

.logo {
	padding:10px;
	margin:0px auto;
	display:block;
}

.login {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index:1;
	margin:0px;
	min-width: 500px;
	min-height: 500px;
	background-color: #fff;
}

.login-panel {
	padding: 20px;
}

.configuration {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
	margin:0px;
	min-width: 500px;
	min-height: 500px;
}

.leftPanel {
	position: absolute;
	top: 71px;
	left: 0px;
	bottom: 0px;
	width: 201px;
	background-color: #fbfbfb;
}

.mainPanel {
	position: absolute;
	top: 71px;
	left: 201px;
	right: 0px;
	bottom: 0px;
	-moz-box-shadow: -4px 0px 5px #e6e6e6;
	-webkit-box-shadow: -4px 0px 5px #e6e6e6;
	box-shadow: -4px 0px 5px #e66e6;
	border-left: 1px solid #ddd;
}

.network-control-panel {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ddd;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.gwt-DialogBox {
  width: 244px;
  z-index: 2;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

#closeButton {
  margin: 15px 6px 6px;
}
